*{
    font-family: Kantumruy Pro regular ;
    /*font face="Kantumruy Pro regular"></font>*/
}

/*--Style form Submit--*/
body{
    background: #ebeaea;
}
.infomation{
    background-color: #fff;
    width: 80%;
    max-width: 600px;
    margin: 100px auto 0;
    margin-top: 25px;
    border-radius: 10px;
    padding: 30px;
}
.image{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}
.infomation .maintitle{
    border-top: 2px solid #ebeaea;
    margin-top: 10px;
}
.maintitle h2{
    color: #04b674;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 8px;
}
.formsubmit input[type=text]{
    padding: 2px 8px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: flex;
}
input[type=text]{
    margin: 16px;
    height: 35px;
    border-radius: 8px;
    border: 1px solid;
    border-color: #c4c4c4 #d1d1d1 #d4d4d4;
    width: 350px;
    outline: 3px solid #fff;
    -moz-outline-radius: 5px;
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
}
input[type=text]:focus{
    border-color: #11a652;
    outline-color: #2cbe27;
    outline-offset: 0;
} 

#btnsubmit{
    font-weight: 600px;
    margin-left: 60%;
    height: 40px;
    width: 100px;
    border: 2px solid transparent;
    border-radius: 8px;
    color: #fff;
    cursor: pointer;
    background-color: #039e3c;
}
#btnsubmit:hover{
    color : #ebeaea;
    background-color: #018933;
    border-color: #ebeaea;
}
/*--Style form Detail--*/
.detail.activedetail{
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50,-50) scale(1);
}
.detail{
    background-color: #fff;
    width: 80%;
    max-width: 600px;
    margin: 100px auto 0;
    margin-top: 10px;
    border-radius: 10px;
    padding: 30px;
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%-50%)scale(0.9);
}
.detail .detail-title{
    border-top: 2px solid #ebeaea;
    margin-top: 10px;
}
.detail-title{
    color: #04b674;
    display: flex;
    align-items: center;
    justify-content: left;
    margin-top: 8px;
}
.detail .buttons{
    margin-top: 8px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 35px;
    border-top: 2px solid #ebeaea;
    padding-bottom: 1px;
}
.detail .buttons button{
    font-weight: 600px;
    margin: 0px 3px;
    margin-top: 35px;
    height: 40px;
    width: 100px;
    border: 2px solid transparent;
    border-radius: 8px;
    background-color: #039e3c;
    color: #fff;
    cursor: pointer;
    left: 68%;
}
#btnQuit{
    color :#039e3c;
    background-color: #fff;
    border-color: #039e3c;
}
#btnQuit:hover{
    color :#ebeaea;
    background-color: #039e3c;
    border-color:#ebeaea;
}
#btnStartTest{
    color : #fff;
    background-color: #039e3c;
    
}
#btnStartTest:hover{
    color : #ebeaea;
    background-color: #018933;
    border-color: #ebeaea;
}
/*QuestionForm*/
.Question{   
    display: none;
    font-size: 50%;
    font-weight: 15px; 
    color: #fff;
    font-weight: 800;
    background: #fff;
    max-width: 420px;
    margin: 100px auto 0;
    margin-top: 10px;
    padding: 30px;
    border-radius: 10px;
}
.Question header{
    font-size: 19px;
    color: #04b674;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    padding: 0 25px;
}
.Question header .timer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: ebeaea;
    width: 140px;
    height: 45px;
    background: #293462;
    border: 1px solid #293462;
    border-radius: 5px;
    padding: 10px 10px;
}
.Question header .timer .time-text{
    font-weight: 400px;
    font-size: 19px;
    user-select: none;
}
.Question header .timer .time-seconds{
    font-size: 20px;
    font-weight: 500px;
    background: rgb(245, 224, 196);
    width: 45px;
    height: 30px;
    color: #293462;
    text-align: center;
    line-height: 30px;
    border-radius: 5px;
    user-select: none;
}